/* .form-head{
    font: normal normal bold 24px/37px sans-serif;
    color: #42515f;
    text-transform: capitalize;
    opacity: 1;
    padding-left: 600px;
    padding-bottom: 20px;
}
.logo{
    display: inline-flex;
} */